# HTTP
GOARCHETYPE_HTTP_PORT=3000

# Logging
GOARCHETYPE_LOG_FORMAT=json
GOARCHETYPE_LOG_LEVEL=trace

# Database
GOARCHETYPE_DB_HOST=localhost
GOARCHETYPE_DB_PORT=5432
GOARCHETYPE_DB_USER=clm_user
GOARCHETYPE_DB_PASSWORD=change_me
GOARCHETYPE_DB_NAME=clm_db
GOARCHETYPE_DB_SSLMODE=disable
GOARCHETYPE_DB_TIMEZONE=UTC
GOARCHETYPE_DB_MAXOPENCONNS=25
GOARCHETYPE_DB_MAXIDLECONNS=25
GOARCHETYPE_DB_CONNMAXLIFETIME=10h
GOARCHETYPE_DB_CONNMAXIDLETIME=15m
GOARCHETYPE_DB_LOGLEVEL=warn
GOARCHETYPE_DB_SLOWTHRESHOLD=200ms

# Keycloak
GOARCHETYPE_KEYCLOAK_ISSUERURL=http://localhost/realms/clm
GOARCHETYPE_KEYCLOAK_CLIENTID=clm-client
GOARCHETYPE_KEYCLOAK_INSECURESKIPVERIFY=true

# JWT
GOARCHETYPE_JWT_SECRET=your-jwt-secret

# Services
GOARCHETYPE_SERVICES_WHATSAPPSVC_BASEURL=http://localhost:3000
GOARCHETYPE_SERVICES_WHATSAPPSVC_APIKEY=Entwt4/uwQtnD2LqMdho4cPTmFEkGAzBytS4UsO0f8g=
